---
const { speaker } = Astro.props;
---

<div class="wrapper" transition:name={`category-${speaker.id}`}>
  <div class="show_category"></div>
  <div class="content">
    <div class="image">
      <img
        src={import.meta.env.STRAPI_URL +
          speaker.attributes.image?.data.attributes.formats.small.url}
        alt={speaker.attributes.title}
      />
    </div>
    <div class="content_tekst">
      <h3 class="title">{speaker.attributes.naam}</h3>
      <p>{speaker.attributes.description}</p>
      <p>{speaker.attributes.date}</p>
    </div>
  </div>
</div>
<style>
  .title {
    font-size: 20px;
    font-family: "alphaLyrae";
    padding-block-end: 20px;
    color: violet;
  }
  .content_tekst{
    padding: 20px;
  }
  ul {
    display: flex;
    width: 60%;
    margin: 0 auto;
  }

  .show_category {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    margin: 20px;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    
  }

  img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 4%;
  }

  
</style>
