---
const { speaker, showCategory = true } = Astro.props;

const { showBody = false } = Astro.props;
---

<div class="wrapper" transition:name={`category-${speaker.id}`}>
  <div class="show_category">
    {
      showCategory && speaker.attributes.category && (
        <p class="category">
          <a
            href={`${import.meta.env.BASE_URL}./category/${
              speaker.attributes.category.data.id
            }`}
          >
            More {speaker.attributes.category.data.attributes.naam}
          </a>
        </p>
      )
    }
  </div>
  <div class="content">
    <h3 class="title">{speaker.attributes.naam}</h3>

    <div class="image">
      <img
        src={import.meta.env.STRAPI_URL +
          speaker.attributes.image?.data.attributes.formats.small.url}
        alt={speaker.attributes.title}
      />
    </div>
  </div>
</div>
<style>
  .title {
    font-size: 40px;
    font-family: "alphaLyrae";
  }

  .container {
    margin-top: 50px;
  }

  .text-center {
    font-size: 150px;
    font-family: "alphaLyrae";
  }

  ul {
    display: flex;
    width: 60%;
    margin: 0 auto;
  }



</style>
