---
import Layout from "../../layouts/Layout.astro";
import SpeakersCard from "../../components/cards/speakers/SpeakersCard.astro";
import MoreCategories from "../../components/cards/speakers/MoreCategories.astro";

import fetchApi from "../../lib/strapi";

export async function getStaticPaths() {
  const speakers = await fetchApi({
    endpoint: "speakers",
    wrappedByKey: "data",
    query: {
      populate: ["*"],
    },
  });

  const paths = speakers.map((speaker, i) => ({
    params: { id: speaker.id.toString() },
    props: {
      speaker,
    },
  }));

  return paths;
}

const { speaker, showCategory = true } = Astro.props;
---

<Layout  >
  <div class="container">
    <SpeakersCard class="content" speaker={speaker} />
    <div class="description">
      <h1 class="title_work">{speaker.attributes.work}</h1>
      <p class="body">{speaker.attributes.body}</p>

      <div class="buttons">
        <a href={`${import.meta.env.BASE_URL}/schedule`} class="btn btn--white"
          >Koop tickets</a
        >

        {
          showCategory && speaker.attributes.category && (
            <a
              class="btn btn--white"
              href={`${import.meta.env.BASE_URL}/category/${
                speaker.attributes.category.data.id
              }`}
            >
              More {speaker.attributes.category.data.attributes.naam}
            </a>
          )
        }
      </div>
    </div>
  </div>
  <MoreCategories />
</Layout>

<style>
  .gewijzigdeClass {
    /* Jouw gewenste stijl */
    color: red;
    font-weight: bold;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
  }
  .title_work {
    font-size: 40px;
    color: #d9d9d9;
    margin-bottom: 2rem;

    font-family: "alphaLyrae";
  }
  .description {
    width: 700px;
    margin-top: 2rem;
  }

  .description p {
    font-size: 20px;
    color: #d9d9d9;
    line-height: 1.5;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 600px;

    margin-top: 2rem;
  }

  .btn {
    font-size: 20px;
    color: #d9d9d9;
    border: 1px solid #d9d9d9;
    padding: 1rem 5rem;
    text-decoration: none;
    border-radius: 30px;

    margin-top: 2rem;
  }
  .btn--white {
    background-color: #b33bd5;
    color: white;
    border: 0;
  }

  .btn:hover {
    background-color: #d9d9d9;
    color: #000;
  }
</style>
