---
const { schedule, showCategory } = Astro.props;
console.log(schedule);
---

<div class="content">
  {
    schedule.map((player) => (
      <div class="container_wrapper">
        <div class="info">
          <p class="dag">{player.attributes.dag}</p>
          <h1 class="naam">{player.attributes.naam}</h1>
          <p class="date">{player.attributes.date}</p>
          <h2 class="price">{player.attributes.Price} € euros</h2>
          <div class="buttons">
            <a
              href={`${import.meta.env.BASE_URL}/speakers/`}
              class=" btn--white"
            >
              register
            </a>
            <a
              href={`${import.meta.env.BASE_URL}/speakers/${player.id}`}
              class="btn"
            >
              about speaker
            </a>
          </div>
        </div>
        <div>
          <img
            src={
              import.meta.env.STRAPI_URL +
              player.attributes.image?.data.attributes.formats.small.url
            }
            alt={player.attributes.title}
          />
        </div>
      </div>
    ))
  }
</div>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;
  }

  .container_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 60%;
    height: 300px;
    background-color: #4b4958;
    border-radius: 10px;
    padding-left: 40px;
  }

  .content {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .dag {
    font-family: "MonumentExtended";
    font-size: 2rem;
    color: #f2f2f2;
  }

  .naam {
    font-family: "lato";
    font-size: 1rem;
    color: violet;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
  }
  .date {
    font-family: "lato";
    font-size: 1rem;
    color: #f2f2f2;
    padding-left: 0.5rem;
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 25% 25%;
    border-radius: 10px;
  }

  .price {
    font-family: "lato";
    font-size: 1rem;
    color: #f2f2f2;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    padding-left: 0.5rem;
  }

  .btn {
    font-size: 15px;
    color: #d9d9d9;
    background-color: #b33bd5;
    padding: 1rem 3rem;
    text-decoration: none;
    border-radius: 30px;
    font-family: "lato";

  }

  .btn--white {
    border: 1px solid #d9d9d9;
    font-size: 15px;
    color: #d9d9d9;
    padding: 1rem 3rem;
    text-decoration: none;
    border-radius: 30px;
    font-family: "lato";
  }

  .btn:hover {
    background-color: #d9d9d9;
    color: #b33bd5;
  }

  .btn--white:hover {
    background-color: #b33bd5;
    color: #d9d9d9;
  }

 
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-left: 0.5rem;
}
</style>
